
body,html {
    font-family: "Pt Sans Narrow", sans-serif;
    
    
}
.grid-container{
    display: grid;
    grid-template-columns:2fr 2fr; 
    grid-template-areas:
        "who-we-are who-we-are-icons";
    margin-left: 100px;
    margin-right: 100px;
    
}
.who-we-are{
    grid-area: who-we-are;
    text-align:center;
}
.who-we-are-icons{
    display: flex;
    grid-area: who-we-are-icons;
    text-align:center;
}
.how-it-works{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}
.lorem-container{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}
.collect-useful-info-image{
    text-align: center;
}
.get-paid-sooner-image{
    text-align: center;
}
.start-to-explore{
    margin-top: 50px;
    text-align: center;
    height: 250px;
}
.explore-images{
    display: flex;
    justify-content: space-around;
    margin-left: 7%;
    margin:7%;
    margin-top: 50px;
}
.accepting-payments-with-ease{
    text-align: center;
}
.solutions{
    text-align: center;
    padding:20px;
    padding-top:50px;
}
.solutions-container{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    /* background-color: rgb(103, 110, 219); */
    height:fit-content;
    text-align: center;
    padding-bottom: 25px;
    margin-left: 25%;
    margin-right: 25%
}
.email-dashboards{
    padding:0px 20px 60px 20px;
}
.task-management{
    padding:0px 20px 60px 20px;
}
.analytics{
    padding:0px 20px 60px 20px;
}
.project-calendars{
    padding:0px 20px 60px 20px;
}
.learn-more{
    background-color: white;
    padding:0px 20px 0px 20px;
}
.learn-more:hover{
    background-color: #006194;
}
a:hover{
    border: 2px solid #006194;
}

.footer-container {
    background-color: #006194;

}
.footer-heading {
    text-align:center;
    font-family: "Pt Sans Narrow", sans-serif;
    color: white;
    font-size: 20px;
}
#button1{
    background-color: white;
    color: #006194;
    font-weight: bold;
    border: none;
    font-family: "Pt Sans Narrow", sans-serif;
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 10px;
    width: 300px;
    height: 40px;
    font-size: 20px;
}
#button2{
    background-color: white;
    color:#006194;
    border: none;
    font-weight: bold;
    font-family: "Pt Sans Narrow", sans-serif;
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 10px;
    width:300px;
    height: 40px;
    font-size: 20px;
}


.footer{
    background-color:#006194;

    text-align: center;
}
#footnote-ending {
    margin-top: 2rem;
    font-family: "Pt Sans Narrow", sans-serif;
    text-align:center;
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 10px;
    color:white;
}