.grid-container{
    display: grid;
    grid-template-columns:2fr 2fr; 
    grid-template-areas:
        "who-we-are who-we-are-icons";
    margin-left: 100px;
    margin-right: 100px;
}
.container-divider{
    margin-left: 20%;
    margin-right:20%;
}
.who-we-are{
    grid-area: who-we-are;
    text-align:center;
}
.who-we-are-icons{
    display: flex;
    grid-area: who-we-are-icons;
    text-align:center;
  
}


.how-it-works{
    margin-left: 30%;
    margin-right:30%;
    text-align: center;
    padding-bottom: 30px;
}
.lorem-container{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}
.collect-useful-info-image{
    text-align: center;
    padding-bottom: 30px;
}
.get-paid-sooner-image{
    text-align: center;
    padding-bottom: 30px;
}
.lorem-container{
    padding-bottom: 30px;
}
a:hover{
    border: 2px solid cornflowerblue;
}
.footer{
    background-color:rgb(103, 110, 219);
    text-align: center;
    height: 7em;
}

