.grid-container{
    display: grid;
    grid-template-columns:2fr 2fr; 
    grid-template-areas:
        "who-we-are who-we-are-icons";
    margin-left: 100px;
    margin-right: 100px;
}
.container-divider{
    margin-left: 20%;
    margin-right:20%;
}
.who-we-are{
    grid-area: who-we-are;
    text-align:center;
}
.who-we-are-icons{
    display: flex;
    grid-area: who-we-are-icons;
    text-align:center;
  
}


.how-it-works{
    margin-left: 30%;
    margin-right:30%;
    text-align: center;
    padding-bottom: 30px;
}
.lorem-container{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}
.collect-useful-info-image{
    text-align: center;
    padding-bottom: 30px;
}
.get-paid-sooner-image{
    text-align: center;
    padding-bottom: 30px;
}
.lorem-container{
    padding-bottom: 30px;
}
a:hover{
    border: 2px solid cornflowerblue;
}
.footer-container {
    background-color: #006194;

}
.footer-heading {
    text-align:center;
    font-family: "Pt Sans Narrow", sans-serif;
    color: white;
    font-size: 20px;
}
#button1{
    background-color: white;
    color: #006194;
    font-weight: bold;
    border: none;
    font-family: "Pt Sans Narrow", sans-serif;
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 10px;
    width: 300px;
    height: 40px;
    font-size: 20px;
}
#button2{
    background-color: white;
    color:#006194;
    border: none;
    font-weight: bold;
    font-family: "Pt Sans Narrow", sans-serif;
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 10px;
    width:300px;
    height: 40px;
    font-size: 20px;
}


.footer{
    background-color:rgb(105, 170, 219);

    text-align: center;
}
#footnote-ending {
    margin-top: 2rem;
    font-family: "Pt Sans Narrow", sans-serif;
    text-align:center;
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 10px;
    color:white;
}

